body {
    text-align: center;
    font-family: 'Montserrat',
    sans-serif;
}

/* About Section */

.todi {
    margin: 3% auto;
    position: relative;
    width: 20%;

}

#about {
    background-color: #f6f6f6;
    padding: 5% 10%;


}

/* Art Section */
.title {
    margin: 5% auto;
}

.img-thumbnail {
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.myArtwork {
    background-color: #f1f3f8;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Footer Section */
#contact {
    background-color: #f6f6f6;
    margin: 5% auto;
}

.fab {
    margin: 5% 15% 10%;
}

.follow-me {
    padding-top: 30px;}